body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}


.navbar {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #777;
}

.nav-links a.active {
  color: #ff6600;
  border-bottom: 2px solid #ff6600;
  padding-bottom: 4px;
}

.post-btn {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}


.shop {
  padding: 30px 40px;
}

.shop-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.search-bar {
  display: flex;
  gap: 10px;
}

.search-bar input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #000;
  color: white;
}

.search-bar button {
  padding: 10px 20px;
  background-color: navy;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.history {
  color: #ff6600;
  font-weight: bold;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.product-card {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card h3 {
  margin: 10px 0 5px;
  font-size: 16px;
}

.product-card p {
  margin: 0;
  font-weight: bold;
}

.product-card span {
  font-size: 14px;
  color: #666;
}

.product-card.selected {
  border: 2px solid #007bff;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 20px;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Har bir qatorga 4 ta */
  gap: 20px;
}
